:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
  --mainBg: #2b6777;
  --sideBg: #c8d8e4;
  --btnClr: #52ab98;
  --Goldenwheat: #a39274;
  --SoftWheat: #dfd8c8;
  --Deepgray: #252523;
  --Slate: #262626;
  --SecondhandGrey: #3f3f3f;
  --Lightgrey: #dcdcdc;
  --Whitish: #f5f5f5;
}

.app {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-link {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--Goldenwheat);
  display: inline-block;
  outline: 2px solid var(--sideBg);
  outline-offset: 4px;
  border: none;
  text-decoration: none;
  transition: var(--mainTransition);
}
.main-link:hover {
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}
